@model WebApp.Models.KitapKategori

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>KitapKategori</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kitap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kitap.KitapAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategori)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategori.KategoriAdi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.KitapKategoriID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
