@model IEnumerable<WebApp.Models.Kitap>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KapakResmi)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.KitapAdi)
            </th>
            
            @*<th>
                @Html.DisplayNameFor(model => model.Ozet)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Fiyat)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.BasimTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StokAdedi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TavsiyeSayisi)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Yazar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YayinEvi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.KapakResmi)*@
                <img src="~/KapakResimleri/@item.KapakResmi" width="75" height="110"/>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.KitapAdi)
            </td>

            @*<td>
                @Html.DisplayFor(modelItem => item.Ozet)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Fiyat)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.BasimTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StokAdedi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TavsiyeSayisi)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Yazar.YazarAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YayinEvi.YayinEviAdi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KitapID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KitapID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KitapID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
